* {
    background-color: white;
    border: none;
    font-size: 20px;
}

QPushButton {
    background-color: #BED9F6;
    color: white;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;

}

QTableWidget {
    color: #0F0F0F;
    font-size: 36px;
}

QHeaderView::section:horizontal {
    margin-right: 5px;
}

QTreeWidget::item:has-children {
    border-bottom:1px solid #BED9F6;
}

QTreeWidget::branch {
    background-color: white;
}

QTreeWidget::branch:selected {
    background-color: #BED9F6;
}

*::item:selected {
    background-color: #BED9F6;
    color: white;
}
