* {
    background-color: white;
    border: none;
}

QPushButton {
    border: 1px solid blue;
    background-color: white;
    max-width: 200px;
    padding: 15px;
    font-size: 14px;
}

QTableView {
    border: 1px dashed red;
}

QTreeView {
    border: 1px dashed red;
}
